/* off-black: #252525 */
/* off-white: #f6f6f6 */

html {
  font-size: 62.5%;
}
.app {
  margin: 0;
	padding: 0;
  width: 100vw;
  height: 100vh;
	box-sizing: border-box;
  max-width: 95%;
}

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
	padding: 0;
  box-sizing: border-box;
}

button {
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  padding: 1%;
  font-size: 1.5rem;
  outline: none;
}

button:hover {
  background-color: lightgrey;
}

/* LANDING PAGE */
.landing-page {
  height: 100vh;
  width: 100vw;
  background-image: url(../../../dist/images/film.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

.logo {
  padding: 20px;
  color: white;
  font-size: 2rem;
  font-family: 'Kiwi Maru', serif;
}

.message {
  position: fixed;
  top: 50%;
	left: 70%;
	transform: translate(-50%, -50%);
  font-size: 3.5rem;
  color: white;
  background-color: transparent;
  border: none;
}

.login-button {
  background-color:white;
  border-radius: 50px;
  font-size: 2rem;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 5px 50px;
  border: none;
}

/* HOME */
.home {
  min-height: 100vh;
  width: 100vw;
  background-color:#f6f6f6;
}

.home .logo {
  color: black;
  display: inline-block;
  cursor: pointer;
}

/* SEARCH */
.search-section {
  display: inline-block;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.search-text {
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: 'Kiwi Maru', serif;
}

.search-bar {
  width: 350px;
  height: 40px;
}

.dropdown-scroll-container {
	position: relative;
	height: 60vh;
	padding-bottom: 5%;
	overflow: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/*Chrome, Safari and Opera */
.dropdown-scroll-container::-webkit-scrollbar {
  display: none;
}

.dropdown-content {
	display: grid;
	/* height: 100vh; */
	grid: repeat(auto-fill, 350px);
	grid-gap: 5px;
}

.dropdown-item {
  display: flex;
  align-items: center;
  height: 100px;
  cursor: pointer;
  width: 350px;
  border-radius: 5px;
  font-size: 1.5rem;
}

.dropdown-item:hover {
  background-color: lightgrey;
}

.dropdown-item img {
  height: 90px;
  margin-right: 10px;
  border-radius: 5px;
}

/* ENTRIES */
.entries-section {
  float: right;
  position: relative;
  /* padding-left: 20px; */
  overflow: hidden;
  /* background-color: #6e7582; */
  /* display: inline-grid;
  grid-template-rows: 10% / 90%; */
}

.past-entries-header {
  /* position: sticky;
  display: inline-block; */
  /* position: fixed;
  top: 15%;
  left: 1%; */
  /* padding-top: 30px; */
  cursor: pointer;
  /* padding-bottom: 30px; */
  /* height: 100px; */
  font-size: 2rem;
  /* background-color: #6e7582; */
  z-index: 2;
  font-family: 'Kiwi Maru', serif;
}

.scroll-container {
	/* position: relative;
  top: 18%;
  left: 1%; */
	height: 70vh;
	padding-bottom: 5%;
	overflow: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/*Chrome, Safari and Opera */
.scroll-container::-webkit-scrollbar {
  display: none;
}

.past-entries-body {
	display: grid;
	/* height: 100vh; */
	grid: repeat(auto-fill, 350px);
	grid-gap: 15px;
	justify-content: center;
}

.past-entry {
  display: flex;
  height: 100px;
  cursor: pointer;
  width: 350px;
  border-radius: 5px;
  font-size: 1.5rem;
}

.past-entry img {
  height: 90px;
  margin-right: 10px;
  border-radius: 5px;
  align-self: center;
}

.past-entry .entry-title {
  align-self: center;
}

.past-entry:hover {
  background-color: lightgrey;
}

/* FORM */
.form {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 1000px;
  height: 400px;
}

.form-buttons {
  display: block;
}

.textarea {
  width: 70%;
  height: 90%;
  overflow: auto;
  margin-bottom: 10px;
}

.text-section {
  display: flex;
  flex-direction: column;
}

.idea-icon, .close-icon {
  height: 20px;
  cursor: pointer;
  margin: 5px;
  transition: transform .2s ease-in-out;
}

.idea-icon {
  display: inline-block;
}

.close-icon {
  color: white;
}

.idea-icon:hover, .close-icon:hover {
  transform: scale(1.2, 1.2);
}

.poster {
  height: 100px;
  border-radius: 5px;
}

.heading {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.heading-text {
  font-size: 2rem;
  align-self: flex-end;
  margin-left: 20px;
}

.form button {
  margin-right: 10px;
  font-size: 1.5rem;
  padding: 1%;
  border-radius: 20px;
  border: 1px solid black;
}

/* IDEAS */
.ideas h3 {
  font-size: 2rem;
  color: white;
  font-family: 'Kiwi Maru', serif;
  padding-bottom: 15px;
  z-index: 2;
}

.ideas {
  display: inline-block;
  position: fixed;
  background-color: #252525;
  font-size: 1.4rem;
  border: none;
  border-radius: 20px;
  z-index: 2;
  padding: 30px;
  width: 300px;
  bottom: -30%;
  right: -2%;
  /*
  position: relative
  bottom: 150px;
  left: 30px;
  */
}

.ideas:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 100px solid #252525;
  left: 0px;
  bottom: -60px;
  transform: rotate(-70deg);
  z-index: 2;
}

.close-icon {
  position: absolute;
  top: 1%;
  right: 1%;
  z-index: 2;
}

.ideas ul {
  list-style: none;
  color: white;
}

/* FOOTER */
footer {
  position: fixed;
	width: 100%;
	bottom: 0;
	display: block;
	padding: 0 1%;
}
