
.app, .app * {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-size: 62.5%;
  max-width: 95%;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

button {
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  padding: 1%;
  font-size: 1.2rem;
}

button:hover {
  background-color: aquamarine;
}

.results {
  max-height: 500px;
  overflow-y: scroll;
}

.dropdown-item {
  display: flex;
  align-items: center;
  height: 60px;
  cursor: pointer;
  width: 200px;
  border-radius: 5px;
}

.dropdown-item:hover {
  background-color: lightgrey;
}

.dropdown-item img {
  height: 50px;
  margin-right: 10px;
  border-radius: 5px;
}

.textarea {
  width: 800px;
  height: 500px;
}

.form {
  position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.idea-icon, .close-icon {
  height: 20px;
  cursor: pointer;
  margin: 5px;
}

.idea-icon {
  float: right;
}

.close-icon {
  position: absolute;
  top: 1%;
  right: 1%;
}

.ideas h3 {
  font-family: 'Pacifico', cursive;
  font-size: 1.2rem;
}

.ideas {
  position: fixed;
  background-color: lightgrey;
  border-radius: 20px;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
}

.ideas ul {
  list-style: none;
}